/* Menu des compétences */
.head_competences {
    padding: 0;
    margin: 0;
}

.nav_competences {
    padding: 0;
    margin: 0;
}

.competences {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: black;
}

.competences a {
    color: inherit;
    text-decoration: none;
}

.competences a:hover, .competences a:active {
    text-decoration: none;
}
.cpt0{
    background-color: white;
    margin: 2%;
    padding: 8px 10px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.cpt0:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color:whitesmoke ;
}
.cpt1 {
    background-color: white;
    color: black;
    margin: 2%;
    padding: 8px 10px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cpt1:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color:#c4251d ;
    color: white;
}
.cpt2 {
    background-color:white;
    color: black;
    margin: 2%;
    padding: 8px 10px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cpt2:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: #f29905;
}
.cpt3 {
    background-color: white;
    color: black;
    margin: 2%;
    padding: 8px 10px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.cpt3:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: #FFFF00;
}
.cpt4 {
    background-color: white;
    color: black;
    margin: 2%;
    padding: 8px 10px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.cpt4:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: #1d8c3c;
    color: white;
}
.cpt5{
    background-color: white;
    color: black;
    margin: 2%;
    padding: 8px 10px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.cpt5:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: #1d74ec;
    color: white;
}
.cpt6{
    background-color: white;
    color: black;
    margin: 2%;
    padding: 8px 10px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.cpt6:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: black;
    color: white;
}
