.carte1 .entete1 {
    background-color: #c4251d; 
    color: white;
    padding: 10px;
    text-align: center;
}
.cpt1{
    background-color: #c4251d;
    color: white;
}
.cpt1:hover{
    background-color: white;
    color: black;
}
