.carte1 .entete1 {
    background-color: #FFFF00;
    padding: 10px;
    text-align: center;
}
.cpt3{
    background-color: #FFFF00;
    color: black;
}
.cpt3:hover{
    background-color: white;
    color: black;
}
