.carte1 .entete1 {
    background-color: #1d8c3c;
    padding: 10px;
    text-align: center;
}
.cpt4{
    background-color: #1d8c3c;
    color: white;
}
.cpt4:hover{
    background-color: white;
    color: black;
}
