.carte1 .entete1 {
    background-color: #1d74ec;
    color: white;
    padding: 10px;
    text-align: center;
}
.cpt5{
    background-color: #1d74ec;
    color: white;
}
.cpt5:hover{
    background-color: white;
    color: black;
}
