.carte1 .entete1 {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
.cpt6{
    background-color: black;
    color: white;
}
.cpt6:hover{
    background-color: white;
    color: black;
}
