body{
    background-image: url("/image/gradent-wallpaper.jpg"); 
    background-attachment: fixed;
    background-size: cover;
}

/* Bandeau explication */
.explication {
    color: black; 
    background-color: #f9f9f9; 
    padding: 10px 20px;
    margin:  40px 20px 0 20px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    text-align: justify; 
    line-height: 1.4;
    border-radius: 5px;
    font-size: 1.5em;
    filter: opacity(85%);
}

/* Titre 1 */
.titre1{
    text-align: center;
    font-weight: 900;
    font-size: 7em;
}
.cercle{
    color: transparent;
    -webkit-text-stroke: 4px;
    -webkit-text-stroke-color: black;
}

.OLIVIARVS{
    width: 60%;
    height: 60%;
    align-items: center;
    display: block;
    text-align: center;
}

/* Article 1 */
.article1 {
    display: flex;
    align-items: center;
    padding: 2% 25%;
}
.article1 .photoli {
    width: 40%;
    border-radius: 20%;
    margin-right: 15%;
}
.article1 .poli {
    font-size: 1.6em;
    color: black;
}

/* texte automatique 
.ecriture-auto{
    display: flex;
    justify-content: flex-start;
    padding: 2px;
    margin: 0 32em;
    text-align: center;
    justify-content: center;
}*/
.auto-text{
    align-items: center;
    justify-content: center;
    letter-spacing: 0.07em;
    text-align: center;
    font-size: 2.5em;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    /*animation: typing 3.5s steps(24);
    animation: blink 1s infinite;*/
}
/*
@keyframes blink {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}

@keyframes typing {
    from {width: 0}
    to {width: 100%;}
}*/
