.desc-ctp1{
    color: #333; 
    background-color: #f9f9f9; 
    border-left: 10px solid black; 
    padding: 10px 20px;
    margin:  20px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    text-align: justify; 
    line-height: 1.6;
    border-radius: 5px;
}
.desc-txt{
    text-decoration: none;
}
.desc-ctp1:hover{
    background-color: #ffffff92;
    border-left: 30px solid #c4251d; 
}
.span-ctp1-desc{
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}
.desc-ctp2{
    color: #333; 
    background-color: #f9f9f9; 
    border-left: 10px solid black; 
    padding: 10px 20px;
    margin:  20px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    text-align: justify; 
    line-height: 1.6;
    border-radius: 5px;
}
.desc-ctp2:hover{
    background-color: #ffffff92;
    border-left: 30px solid #f29905; 
}
.span-ctp2-desc{
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}
.desc-ctp3{
    color: #333; 
    background-color: #f9f9f9; 
    border-left: 10px solid black; 
    padding: 10px 20px;
    margin:  20px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    text-align: justify; 
    line-height: 1.6;
    border-radius: 5px;
}
.desc-ctp3:hover{
    background-color: #ffffff92;
    border-left: 30px solid #FFFF00;
}
.span-ctp3-desc{
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}
.desc-ctp4{
    color: #333; 
    background-color: #f9f9f9; 
    border-left: 10px solid black; 
    padding: 10px 20px;
    margin:  20px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    text-align: justify; 
    line-height: 1.6;
    border-radius: 5px;
}
.desc-ctp4:hover{
    background-color: #ffffff92;
    border-left: 30px solid #1d8c3c;
}
.span-ctp4-desc{
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}
.desc-ctp5{
    color: #333; 
    background-color: #f9f9f9; 
    border-left: 10px solid black; 
    padding: 10px 20px;
    margin:  20px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    text-align: justify; 
    line-height: 1.6;
    border-radius: 5px;
}
.desc-ctp5:hover{
    background-color: #ffffff92;
    border-left: 30px solid #1d74ec;
}
.span-ctp5-desc{
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}
.desc-ctp6{
    color: #333; 
    background-color: #f9f9f9; 
    border-left: 10px solid black; 
    padding: 10px 20px;
    margin:  20px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    text-align: justify; 
    line-height: 1.6;
    border-radius: 5px;
}
.desc-ctp6:hover{
    background-color: #ffffff92;
    border-left: 30px solid rgba(0, 0, 0, 0.572);
}
.span-ctp6-desc{
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}
